## PAIRING TABLE

#### Imports

In [1]:
import pandas as pd
import numpy as np

#### Read In ADP Data For Pairing

In [6]:
#read in the excel, put into DF
raw_adp_df = pd.read_excel('inputs/NEW_PunchSourceEmails2023.xls') #read in the excel, put into DF

In [7]:
#filter the relevant data
raw_adp_df = raw_adp_df[['Last Name', 'First Name', 'Personal Contact: Personal Email', 
                         'Time In', 'Pay Code [Timecard]']] #keep these cols
raw_adp_df = raw_adp_df.rename(columns={'Personal Contact: Personal Email': 'Email'}) #rename col
##raw_adp_df = raw_adp_df[raw_adp_df['Pay Code [Timecard]'] != "REGSAL"] #drop managers from the pay data
raw_adp_df.loc[:, 'Date'] = raw_adp_df['Time In'].dt.date #make it solely a date col
raw_adp_df.drop(columns=['Time In', 'Pay Code [Timecard]'], inplace=True) #then drop orig time in col

raw_adp_df

        Last Name First Name                   Email        Date
0            Abam       Aria  ariaebam2006@gmail.com  2023-05-28
1            Abam       Aria  ariaebam2006@gmail.com  2023-05-29
2            Abam       Aria  ariaebam2006@gmail.com  2023-06-04
3            Abam       Aria  ariaebam2006@gmail.com  2023-06-20
4            Abam       Aria  ariaebam2006@gmail.com  2023-06-28
...           ...        ...                     ...         ...
9987  von Brachel     Elinor   evonbrachel@gmail.com  2023-07-18
9988  von Brachel     Elinor   evonbrachel@gmail.com  2023-07-20
9989  von Brachel     Elinor   evonbrachel@gmail.com  2023-07-27
9990  von Brachel     Elinor   evonbrachel@gmail.com  2023-08-13
9991  von Brachel     Elinor   evonbrachel@gmail.com  2023-08-15

[9992 rows x 4 columns]